<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue todolist</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">

        <div class="container">

            <h1>Vue TODOLIST</h1>

            <ul class="todo-list">
                <li v-for="task in todos">
                    <div>{{ task.text }} </div>
                </li>
            </ul>

            <div class="new-todo">
                <label for="task"></label>
                <input type="text" id="task" placeholder="write new task" v-model="todo.text">
                <button class="add-btn" @click="addTodo">Add</button>
            </div>

        </div>


  
    </div>

    <script src="js/script.js"></script>
  </body>
</html>